{{#partial "content"}}
    <div class="jumbotron landing">
        <h1 class="display-4">Welcome to the Site Maintenance Manager!</h1>
        <p class="lead">Create and assign resources.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
{{/partial}}

{{> layout.hbs}}

