{{#partial "content"}}

    <div class="jumbotron landing">
        <h1 class="display-4">Sorry!</h1>
        <p class="lead">The entry already exists.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Go Home</a>
        </p>
    </div>

{{/partial}}

{{>layout.hbs}}