{{#partial "content"}}
    <h1>Success!</h1>

    <a href="/dept/new">Go Back</a>
    <br>
    <a href="/">Go Home</a>

    <hr>

    <div class="jumbotron landing">
        <h1 class="display-4">Success!</h1>
        <p class="lead">Your changes have been effected.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Go Home</a>
        </p>
    </div>

{{/partial}}

{{>layout.hbs}}